<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>E21434BE-2CA4-4B39-AE8F-5A687743A620.playgroundpage</string>
		<string>C2D1762D-91F7-49AD-AEC1-506D3323F209.playgroundpage</string>
		<string>85A1808D-A483-43E4-9314-F97C009BF59D.playgroundpage</string>
		<string>4CCA44C7-7EB4-43D4-BC8A-464E5D4B27A5.playgroundpage</string>
		<string>shapegraphics.playgroundpage</string>
		<string>animations.playgroundpage</string>
		<string>sprites.playgroundpage</string>
		<string>drawing.playgroundpage</string>
	</array>
</dict>
</plist>
